<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" matInput placeholder="your email" ngModel name="email" email #emailInput="ngModel"
                required>
            <mat-error *ngIf="emailInput.hasError('required')">
                please enter email id
            </mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">
                email is invalid
            </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="should be atleast 6 characters long">
            <input type="password" matInput placeholder="your password" #pwInput="ngModel" ngModel name="password"
                required minlength="6">
            <mat-error>has to be atleast 6 characters long</mat-error>
            <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required >
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox color="primary" ngModel name="agree" >Agree to terms and conditions</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" >Submit</button>
    </form>
</section>

<!-- ASSIGNEMENT PART -->
<form [formGroup]='loginForm' novalidate class="form" (ngSubmit)="onLogin()" >
    <mat-form-field>
        <input matInput formControlName='email'
        type="text"
        class="form-control"
        placeholder="Enter Email" required>
        <mat-error *ngIf="hasError('email', 'required')">Please enter email id</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email Id is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="should be atleast 6 characters long">
        <input matInput formControlName='password'
        type="password"
        class="form-control"
        placeholder="Enter Password" required>
        <mat-error>Please enter password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Submit</button>

</form>